// - vars = package.json

element(name=locals.name, \attributes="open closed vertical target targetId")
  template
    style
      @host {
        * {
          display: none;
        }
      }
    include style.css

  :coffeescript(bare=true)
    element = this
    Polymer.register this,
      vertical: false
      inserted: ->
        Polymer.installControllerStyles this, element
        @layoutContainer = @parentNode.host or @parentNode
        @layoutContainer.classList.add "flexbox"
        @verticalChanged()
        @alignChanged()
        @justifyChanged()

      switchContainerClass: (prefix, old, name) ->
        @layoutContainer.classList["swi"+ "tch"] prefix + old, prefix + name  if @layoutContainer and name

      verticalChanged: ->
        @layoutContainer.classList.toggle "column", @vertical  if @layoutContainer

      alignChanged: (old) ->
        @switchContainerClass "align-", old, @align

      justifyChanged: (old) ->
        @switchContainerClass "justify-", old, @justify
