// - vars = package.json

element(name=locals.name, extends="polymer-ui-theme-aware", \attributes="theme")
  include style.css
  template
    content
  script.
    Polymer.register(this, {
      ready: function() {
        this.setAttribute('touch-action', 'none');
        this.appendChild(document.createElement('polymer-flex-layout')).align = 'center';
      }
    });
