// - vars = package.json

element(name=locals.name, \attributes="src index icon active")
  include style.css
  template
    polymer-ui-icon(src="{{src}}", index="{{index}}", icon="{{icon}}")
  script.
    Polymer.register(this, {
          /**
          * The URL of an image for the icon.
          *
          * @attribute src
          * @type string
          * @default ''
          */
          src: '',
          /**
          * If true, border is placed around the button to indicate
          * active state.
          *
          * @attribute active
          * @type boolean
          * @default false
          */
          active: false,
          /**
          * If a theme is applied that includes an icon set, the index of the 
          * icon to display.
          *
          * @attribute index
          * @type number
          * @default -1
          */     
          index: -1,
          activeChanged: function() {
            // TODO(sjmiles): sugar this common case
            this.classList.toggle('selected', this.active);
          }
        });
